<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Réquisomatic</title>
    <link rel="stylesheet" href="/static/entireframework.min.css">
  </head>
  <body class="container">
      {{ breadcrumbs }}
      <hr/>
      <p>Copiez-collez vos adresses IP,</p>
      <ul>
          <li>une adresse par ligne,</li>
          <li>assortie, sur la même ligne que l'IP concernée, d'un commentaire facultatif à destination de l'hébergeur (typiquement la date et heure d'usage illicite relevé).</li>
          <li>Les lignes ne contenant pas d'adresse IP sont ignorées et ne posent pas problème.</li>
      </ul>
      <p>Habituellement, copier-coller depuis un tableur comme Excel ou LibreOffice Calc fonctionne correctement.</p>
      <hr/>
      <form action="/{{ uuid }}/add" method="post">
          <span>
              <textarea name="addresses" rows="10" value="" class="smooth"></textarea><br/>
              <button type="submit" class="btn btn-a btn-sm smooth">Ajouter les adresses</button>
          </span>
      </form>
     {{ footer }}
  </body>
</html>
