<span>
    <!-- (state '{{ state }}) -->
    {% if state=='add' %}
    <a class="btn smooth btn-sm btn-a">
    {% else %}
        <a class="btn smooth btn-sm btn-b" href="/{{ uuid }}/add">
    {% endif %}
        Ajout
    </a>
    <i class="ico">⇨</i>

    {% if state=='add' %}
    <a class="btn smooth btn-sm">
    {% elif state=='whois' %}
    <a class="btn smooth btn-sm btn-a">
    {% else %}
    <a class="btn smooth btn-sm btn-b" href="/{{ uuid }}/whois">
    {% endif %}
        Whois
    </a>
    <i class="ico">⇨</i>

    {% if state in ['add', 'whois'] %}
    <a class="btn smooth btn-sm">
    {% elif state=='contact' %}
    <a class="btn smooth btn-sm btn-a">
    {% else %}
    <a class="btn smooth btn-sm btn-b" href="/{{ uuid }}/contact">
    {% endif %}
        Contact
    </a>
    <i class="ico">⇨</i>

    {% if state in ['add', 'whois', 'contact'] %}
    <a class="btn smooth btn-sm">
    {% elif state=='template' %}
    <a class="btn smooth btn-sm btn-a">
    {% else %}
    <a class="btn smooth btn-sm btn-b" href="/{{ uuid }}/template">
    {% endif %}
        Modèle
    </a>
    <i class="ico">⇨</i>

    {% if state in ['add', 'whois', 'contact', 'template'] %}
    <a class="btn smooth btn-sm" disabled>
    {% elif state=='download' %}
    <a class="btn smooth btn-sm btn-a">
    {% endif %}
        Téléchargement
    </a>
</span>
