<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Réquisomatic</title>
        <link rel="stylesheet" href="/static/entireframework.min.css">
    </head>
    <body class="container">
        {{ breadcrumbs }}
        <hr/>
        <p>Voici, par hébergeur, la liste connue des informations de contact du responsable des obligations légales.</p>
        <ul>
            <li>Les informations les plus à jour et les plus complètes se trouvent sur <a href="https://cyber-aide.sso.gendarmerie.fr">Cyber-Aide</a>. </li>
            <li>Si les informations connues de Réquisomatic sont fausses ou manquantes, vous pouvez spécifier à la main de nouvelles informations dans le champ de texte libre. Elles apparaîtront sur la réquisition finale.</li>
            <li class="msg"><string>Attention !</string> Ces informations de contact seront rendues disponibles à tous les autres utilisateurs de Réquisomatic qui souhaiteraient adresser une réquisition au même hébergeur.</li>
            <li>Si vous souhaitez garder confidentielles les informations de contact, sélectionnez une des propositions existantes, ou rentrez un faux texte (par exemple: 'REMPLACEZMOI') et remplacez le par l'information confidentielle sur le document final une fois téléchargé. Ainsi l'information ne transitera jamais par le serveur de Réquisomatic et ne pourra donc pas fuiter.</li>
            <li>Pour trouver des coordonnées de contact manquantes, vous pouvez:</li>
            <ul>
                <li>Prendre attache avec le GUTI de la Gendarmerie Nationale, ou l'unité équivalente de votre organisation ;</li>
                <li>fouiller, à l'étape précédente (Whois), les données brutes, car les contact légaux y sont parfois fournis en toutes lettres ;</li>
                <li>ou bien tenter votre chance à des adresses email standard comme <code>abuse@...</code>, <code>legal@...</code>, ou bien trouver les coordonnées du dirigeant ou d'un contact commercial sur le site de l'hébergeur.</li>
            </ul>
        </ul>
        <hr/>
        <form action="/{{ uuid }}/contact" method="post">
            {{ table }}
            <button type="submit" class="btn btn-a btn-sm smooth">Renseigner les coordonnées</button>
        </form>
        {{ footer }}
    </body>
</html>
