<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Réquisomatic</title>
        <link rel="stylesheet" href="/static/entireframework.min.css">
    </head>
    <body class="container">
        {{ breadcrumbs }}
        <hr/>
        <p>Vous pouvez maintenant télécharger vos réquisitions :)</p>
        <hr/>
        {{ table }}
        {{ footer }}
    </body>
</html>
