<hr/>
<img src="static/beaver-labs.svg" width="200px" height="100px" align="left" />
<div style="min-height:110px;">  <!-- Just making sure the div is at least as tall as the logo -->
<p>Réquisomatic version {{ version }}.</p>
<p>Développé par Beaver Labs sur financement du Ministère de la Justice. Code source disponible sous licence AGPLv3+ <a href="https://gitlab.com/edouardklein/requisomatic">sur Gitlab</a>.</p>
</div>
<hr/>
<video controls poster="/static/aide.svg" width="800px">
    <source src="/static/requisomatic.ogv" type="video/ogg">
</video>
