<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Réquisomatic</title>
        <link rel="stylesheet" href="/static/entireframework.min.css">
    </head>
    <body class="container">
        {{ breadcrumbs }}
        <hr/>
        <p>Il vous faut maintenant choisir, pour chaque hébergeur, le modèle de réquisition à employer.</p>
        <p>Il vous est possible d'ajouter un modèle en utilisant le formulaire ci dessous, vous pourrez ensuite le sélectionner dans les menus déroulants.</p>
        <p>Vous pouvez créer un modèle en partant du <a href="/static/requisomatic_base_template.odt">modèle de base</a> et en le modifiant à votre convenance à l'aide de LibreOffice avant de l'ajouter aux menus déroulants grâce au formulaire de televersement.</p>
        <p>Les champs gris dans les modèles sont ceux qui seront remplacés par les informations de contact et les adresses IP. Regardez la vidéo d'aide pour plus d'explications.</p>
        <hr/>
        <form action="/{{ uuid }}/new_template" method="post" enctype="multipart/form-data">
            <label for="new_template_name">Nom du nouveau modèle</label>
            <input id="new_template_name" name="new_template_name" type="text"></input>
            <label for="new_template_name">Choisissez un fichier .odt sur votre disque:</label>
            <input type="file" id="new_template_file" name="new_template_file"
                   accept="application/vnd.oasis.opendocument.text"></input>
            <button type="submit" class="btn btn-a btn-sm smooth">Téléverser un nouveau modèle</button>
        </form>
        <hr/>
        <form action="/{{ uuid }}/template" method="post">
            {{ table }}
            <button type="submit" class="btn btn-a btn-sm smooth">Choisir les modèles</button>
        </form>
        {{ footer }}
    </body>
</html>
