<!DOCTYPE html>
<html lang="en">
    <head>
        {% if progress != 100 %}
        <meta http-equiv="refresh" content="10">
        {% endif %}
        <meta charset="utf-8">
        <title>Réquisomatic</title>
        <link rel="stylesheet" href="/static/entireframework.min.css">
    </head>
    <body class="container">
        {{ breadcrumbs }}
        <hr/>
        {% if progress != 100 %}
        <p>Les informations <code>whois</code> sont en cours de téléchargement. Merci de patienter.</p>
        <ul>
            <li>Cette page s'actualisera de manière automatique.</li>
            <li>Vous pouvez également la fermer (la page) et revenir plus tard, le travail se poursuivra en arrière plan.</li>
            <li>Prenez cependant soin de noter l'adresse exacte présente dans la barre d'adresse.</li>
        </ul>
        <p>
            <progress value="{{ progress }}" max="100"></progress>{{ progress }}%, temps restant: {{ time }}
        </p>
        {% else %}
        <h2>Adresses IP</h2>
        <p>Voici, par adresse IP, la liste des hébergeurs identifiés.</p>
        <ul>
            <li>Une adresse peut appartenir à plusieurs hébergeurs, chacun la louant à l'autre.</li>
            <li>Il vous faut maintenant choisir, pour chaque IP, l'hébergeur en mesure d'identifier l'utilisateur à l'origine de l'usage illicite.</li>
            <li>Généralement, il s'agira de l'hébergeur le plus proche du client final, sauf s'il manque volontairement à ses obligations légales (<i>bulletproof hosting</i>).</li>
            <li>Vous pouvez consulter le résultat brut de la recherche whois.</li>
            <li>Vous pouvez spécifier un hébergeur à la main si la recherche <code>whois</code> n'a pas fonctionné correctement.</li>
        </ul>
        <hr/>
        <form action="/{{ uuid }}/whois/ip" method="post">
            {{ ip_table }}
            <button type="submit" class="btn btn-a btn-sm smooth">Sélectionner les hébergeurs</button>
        </form>
        {% endif %}
        <hr/>
        <h2>Adresses Emails</h2>
        <p>Voici la liste des domaines identifiés dans les adresses emails fournies.</p>
        <ul>
            <li>Il vous faut maintenant choisir, pour chaque domaine, l'hébergeur en mesure d'identifier l'utilisateur à l'origine de l'usage illicite.</li>
            <li>Il s'agit généralement du choix par défaut, le domaine lui même.</li>
            <li>Cependant, certains hébergeurs gèrent plusieurs domaines (par exemple Microsoft gère <tt>live.com</tt>, <tt>hotmail.com</tt>, <tt>hotmail.fr</tt>, etc.). Il convient alors de les regrouper sous un seul nom pour que toutes les adresses emails correspondantes apparaissent sur la même réquisition.</li>
        </ul>
        <form action="/{{ uuid }}/whois/email" method="post">
            {{ email_table }}
            <button type="submit" class="btn btn-a btn-sm smooth">Sélectionner les hébergeurs</button>
        </form>
        {{ footer }}
    </body>
</html>
